<app-navbar></app-navbar>

<div class="container-fluid col-md-10">
    <div class="container-fluid" style="position: relative;top:67px;left:10%;">
        <div class="card-body p-4 p-md-4">
            <ul class="nav nav-tabs">

                <li class="nav-item">
                    <a class="nav-link">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Documents</a>
                </li>

            </ul>
        </div>