
<form name="newinvoices" #newinvoices="ngForm" (ngSubmit)="newinvoices.valid &&  NewINVOICES(newinvoices)"><br>
    <h3 class="text-center">Add Invoice</h3>
    <a [routerLink]="['/superuser/superuserrequests']" class="ml-auto" routerLinkActive="router-link-active"
        role="button">
        <h5><i class="bi bi-arrow-left-short"></i>Back</h5>
    </a>
    <br>
    <div class="addnewinv px-4 py-2 px-md-5 col-md-6 text-center text-lg-start" >
        <div class=" shadow-lg p-4
         mb-2 bg-white rounded">
            <div class="card-body py-3 px-md-2">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label for="form2Example3" class="form-label">Invoice type</label><span style="color: red;"> *</span>
                        <select class="form-select" name="Invoicetype" #Invoicetype="ngModel"
                            aria-label="Default select example" [(ngModel)]="NEWINVOICES.Invoicetype" required>
                            <a class="dropdown-item disabled" href="#">Disabled link</a>
                            <option>Travel Expense</option>
                            <option>Food Expense</option>
                            <option>Health Expense</option>
                            <option>shopping Expense</option>

                        </select>
                        <small *ngIf="Invoicetype.touched &&Invoicetype.invalid">Invoice Type is Mandatory</small>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label for="form2Example3" class="form-label">Invoice Number</label><span style="color: red;"> *</span>
                        <input type="text" class="form-control" name=" invoicenumber" #invoicenumber="ngModel"
                            aria-label="Default select example" [(ngModel)]="NEWINVOICES.invoicenumber" required>
                        <small *ngIf="invoicenumber.touched && invoicenumber.invalid">Invoice Number is
                            Mandatory</small>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label for="form2Example4" class="form-label">Invoice Date </label><span style="color: red;"> *</span>
                        <input type="date" class="form-control" name="invoicedate" #invoicedate="ngModel"
                            aria-label="Default select example" [(ngModel)]="NEWINVOICES.invoicedate" required>
                        <small *ngIf="invoicedate.touched && invoicedate.invalid">Invoice Date is Mandatory</small>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label for="form2Example3" class="form-label" >Amount</label><span style="color: red;"> *</span>
                        <input type="number" class="form-control" name="amount" #amount="ngModel"
                            aria-label="Default select example" [(ngModel)]="NEWINVOICES.amount" required>
                        <small *ngIf="amount.touched && amount.invalid">Amount is Mandatory</small>
                    </div>
                </div>
                <div class="col-md-7 mb-4">
                    <div class="form-outline">
                        <label for="Description" class="form-label">Description</label><span style="color: red;"> *</span>
                    </div>
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample" rows="7" placeholder="type here"
                            name="Description" aria-label="Default select example"
                           ></textarea>
                        <label class="form-label" for="textAreaExample"></label>
                       
                    </div>
                </div>
                <!-- <input type="file" class="form-control" name="Amount" #File="ngModel"
                            aria-label="Default select example" [(ngModel)]="NEWINVOICES.File" required> -->

                    <!-- <angular-file-uploader [config]="afuConfig"[(ngModel)]="NEWINVOICES.File" #File="ngModel" ></angular-file-uploader> -->
                    <div class="mt-4 pt-2 text-center">
                        <button class="btn btn-primary " type="button" (click)="PostSavedInvoice()" >Save</button>
                        <input type="submit" class="btn btn-success" style="margin-left:5%; margin-top: -3%;" value="Submit">
                        <button type="button" input type="reset" class="btn btn-secondary" style="margin-left:5%; margin-top: -3%;">Reset</button>
                       
                </div>
            </div>
        </div>
    </div>
</form>