<form name="newexpense" #newexpense="ngForm" (ngSubmit)="newexpense.valid && NewEXPENSE(newexpense)"><br>
    <h3 class="text-center">Add Expense</h3>
    <a [routerLink]="['/superuser/superuserrequests']" class="ml-auto" routerLinkActive="router-link-active"
        role="button">
        <h5><i class="bi bi-arrow-left-short"></i>Back</h5>
    </a>
    <br>
    <div class="newexp px-4 py-2 px-md-5 col-md-6 text-center text-lg-start">
        <div class=" shadow-lg p-4 mb-2 bg-white rounded">

            <div class="card-body py-3 px-md-2">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label for="form2Example3" class="form-label">Expense type</label><span>*</span>
                        <select class="form-select" name="Expensetype" #Expensetype="ngModel"
                            aria-label="Default select example" [(ngModel)]="NEWEXPENSE.Expensetype" required>
                            <option>Flight Expenses</option>
                            <option>Food Expenses</option>
                            <option>Medical Expenses</option>
                            <option>Visa Expenses</option>
                            <option>Mobile Expenses</option>
                            <option>Internet Expenses</option>
                            <option>Other Expenses</option>
                            <option>Travel Expenses</option>

                        </select>
                        <small
                            *ngIf="(Expensetype.touched && Expensetype.invalid) || (Expensetype.invalid && newexpense.submitted)">Expensetype
                            is required</small>
                    </div>

                </div>

                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                        <label for="Amount" class="form-label">Amount</label><span>*</span>
                        <input type="text" class="form-control" name="Amount" aria-label="Amount" #Amount="ngModel"
                            [(ngModel)]="NEWEXPENSE.Amount" required>
                        <small
                            *ngIf="(Amount.touched && Amount.invalid) || (Amount.invalid && newexpense.submitted)">Amount
                            is required </small>
                    </div>
                </div>

                <div class="col-md-6 mb-4">

                    <div class="form-outline">
                        <label for="form2Example4" class="form-label">Date </label><span>*</span>
                        <input type="date" class="form-control" name="Datetime" aria-label="Datetime"
                            #Datetime="ngModel" [(ngModel)]="NEWEXPENSE.Datetime" required>
                        <small
                            *ngIf="(Datetime.touched && Datetime.invalid) || (Datetime.invalid && newexpense.submitted)">
                            Date is required</small>

                    </div>

                </div>

                <div class="col-md-7 mb-4">

                    <div class="form-outline">
                        <label for="Description" class="form-label">Description</label><span>*</span>
                    </div>
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample" rows="7" placeholder="type here"
                            name="Description" #Description="ngModel" aria-label="Default select example"
                            [(ngModel)]="NEWEXPENSE.Description" required></textarea>
                        <label class="form-label" for="textAreaExample"></label>

                        <small
                            *ngIf="(Description.touched && Description.invalid) || ((Description.invalid && newexpense.submitted))">Description
                            is required</small>
                    </div>

                    <input type="file" class="form-control" name="Amount" #file="ngModel"
                        aria-label="Default select example" [(ngModel)]="NEWEXPENSE.File" required>
                    <br>
                    <div class="mt-4 pt-2 text-center">
                        <input class="btn btn-primary " type="submit" value="Save" />
                        <button type="submit" class="btn btn-success"
                            style="margin-left:5%; margin-top: -3%;">Submit</button>
                        <button type="button" input type="reset" class="btn btn-secondary"
                            style="margin-left:5%; margin-top: -3%;">Reset</button>
    
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>