h3 {
  position: relative;
  bottom: -53px;
}

small {
  color: red;
}

.ml-auto {
  position: relative;
  left: 20%;
  bottom: -45px;
}

.newexp {
  margin-left: 24%;

}

.btn-primary {
  margin-top: -3%;
  margin-left: 5%;
}
.card{
  margin-left: auto;
}