<aside id="sidebar" class="sidebar">



    <ul class="sidebar-nav" id="sidebar-nav">



        <!-- <li class="nav-heading">Pages</li> -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/admin/empinfo']" routerLinkActive="router-link-active">
                <i class="bi bi-lock"></i>
                <span>Access Level</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/admin/Employee-fields']" routerLinkActive="router-link-active">
                <i class="bi bi-people"></i>
                <span>Employee Fields</span>
            </a>
        </li><!-- End F.A.Q Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/admin/empmyrequests']" routerLinkActive="router-link-active">
                <i class="bi bi-check"></i>
                <span>Approvals</span>
            </a>
        </li><!-- End Contact Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" [routerLink]="['/admin/emptimesheet']" routerLinkActive="router-link-active">
                <i class="bi bi-calendar2-week"></i>
                <span>Timeoffs</span>
            </a>
        </li><!-- End Blank Page Nav -->

    </ul>

</aside>