<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link"   href="/personaldata">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/jobtab">Job</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  href="/document">Document</a>
    </li>
   
  </ul>
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css"  />
<form name="jobTab" #jobTab="ngForm" (ngSubmit)="jobTab.valid && JB(jobTab)">
         <section class="vh-200 gradient-custom">
                <div class="container py-5 h-100">
                  <div class="row justify-content-center align-items-center h-50">
                    <div class="col-12 col-lg-9 col-xl-9">
                      <div class="shadow-lg p-3 mb-5 bg-body " id="shadow">
                      
                        <div class="card-body p-4 p-md-4">
                          
                          <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Hire Date</h4><input type="date" #startdate="ngModel" [(ngModel)]="empdata.startdate" name="startdate" id="startdate"class="form-control" style="width: 50%;margin-bottom: 5;" required>
                          <br>
                          <br>
                            <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Employment Status</h4>                             
                            
                            <div class="table-bordered">
                                <table class="table" >
                                    <thead class="table-light">
                                        <tr>
                                          <th>Effective Date</th>
                                          <th>Employment Status</th> 
                                          <th>Comment</th>
                                        </tr>
                                      </thead>
                              
                                     <tr>
                                        <td><input type="date" class="form-control" #effectivedate="ngModel" [(ngModel)]="empdata.effectivedate" name="effectivedate" id="effectivedate" ><br></td>
                                        <td><input type="text" class="form-control"  #employementstatus="ngModel" [(ngModel)]="empdata.employementstatus" name="employementstatus" id="employementstatus"></td>
                                        <td><input type="text" class="form-control" #comment="ngModel" [(ngModel)]="empdata.comment" name="comment" id="comment" ></td>                                       
                                     </tr>

                                     
                                    
                                </table> 
                            
                                <button type="button" class="btn  btn-primary" style="position: relative;left: 45%; margin-top: -2%;">+Update</button>
                            </div>
                            
                            <br>
                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Job Details</h4> 
                <button [routerLink]="['/job-update']" style="position: relative;left: 83%;top: -36px;"  type="button" class="btn btn-primary">+Add new</button>
                <div class="table-bordered">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                              <th>Effective Date</th>
                              <th>Location</th> 
                              <th>Client Name</th>
                              <th>Job Title</th>
                              <th>Reports To</th>
                            </tr>
                          </thead>
                          <tr *ngFor="let item of jobData">
                            <td>{{item.jobeffectivedate}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.clientname}}</td>
                            <td>{{item.jobtitle}}</td>
                            <td>{{item.reportsto}}</td>
                          </tr>
                    </table>                    
                </div>
                <br>
                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Compensation Details</h4> 
                <button [routerLink]="['/compensationupdate']" style="position: relative;left: 83%;top: -36px;"  type="submit" class="btn btn-primary">+Add new</button>
                <div class="table-bordered">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                              <th>Effective Date</th>
                              <th>Pay Schedule</th> 
                              <th>Pay Type</th>
                              <th>Pay Rate</th>
                              <th>Over Time</th>
                              <th>Over Time Rate</th>
                              <th>Change Reason </th>
                              <th>Comment</th>
                            </tr>
                            </thead>
                            <tr *ngFor="let item of compensationData">
                              <td>{{item.compensationeffectivedate}}</td>
                              <td>{{item.payschedule}}</td>
                              <td>{{item.paytype}}</td>
                              <td>{{item.payrate}}</td>
                              <td>{{item.overtime}}</td>
                              <td>{{item.overtimerate}}</td>
                              <td>{{item.changereason}}</td>
                              <td>{{item.comment}}</td>
                            </tr>
                    </table>                    
                    
                </div> 
                <br>
                
                
                          </div>
                        </div>
                      
                    </div>
                  </div>
                </div>
                
              </section>
            </form>