    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .card.shadow-2-strong.card-registration{
        box-shadow:  0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
       
        left:-28%;
        width: 155%;
    }
    
    
    