<br>
<br>
<br>
<div class="container ">
    <div class="d-flex col-sm">

        <h3 >Invoices </h3>
        <a [routerLink]="['/admin/addNewInvoices']" class=" ml-auto" routerLinkActive="router-link-active"
            role="button">
            <h3>+ Add Invoice</h3>
        </a>

    </div>
 

    <br>

    <div class="container ">
        <hr>
        <div class="row  ">
            <div class="col-sm ">
                <h4>Name: {{invoicebills.firstname +" "+invoicebills.lastname}}   </h4>
            </div>
            <div class="col-sm full">
                <h4>Employee ID:{{invoicebills.employeeid}} </h4>
            </div>
            <div class="col rt">
                <h4> Total Amount : {{ invoicebills.amount}}</h4>
            </div>
        </div>
    </div>




    <div class="fixTableHead  shadow">
        <table class="table auto-index">
            <thead>
                <tr>
                    <th>no</th>
                    <th>Invoice no</th>
                    <th>Invoice Date</th>
                    <th>Invoice Type</th>
                    <th>amount</th>
                    <th>Attachment</th> 
                    <th>Status</th>
                </tr>               
            </thead>

            <tbody>
              <tr *ngFor="let inv of IDATA let i=index;">
                <td>{{inv.Invoicenumber}}</td>
                <td>{{inv.Invoicedate}}</td>
                <td>{{inv.Invoicetype}}</td>
                <td>{{inv.amount}}</td>
                <td>{{inv.Attachment}}</td>
                <td>{{inv.status}}</td>
            </tbody>

        </table>
    </div>
</div>