<section class="">
    <!-- Jumbotron -->

    <div class="col-lg-5 mb-4 ">
        <div class="card-body  px-md-4">
            <div class="shadow-lg p-5 mb-7 bg-white rounded">

                <form name="LOGIN"  >
                    <div class="img">
                        <img alt="" src="../assets/snadicon.png" />
                    </div>
                    <h3><b>Login</b></h3>

                    <div class="form-outline mb-2">
                        <label class="form-label" for="form2Example1"></label><i class="bi bi-person-circle"
                            style="position: relative;right: -44%;top: 28px;"></i>
                        <input type="email" id="email" name="email" placeholder="Enter User Id" class="form-control"
                            required />
                        <!-- <small
                                      *ngIf="(email.touched && email.invalid) || (email.invalid && LOGIN.submitted)">
                                      User id is
                                      required</small> -->
                    </div>
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                    <div class="form-outline mb-2">
                        <label class="form-label" for="form2Example2"></label>
                        <!-- <span style="position: relative;right: -44%;top: 30px;" class="eyeicon"  (click)="viewpass()"><i [ngClass]="visible?'bi bi-eye-fill':'bi bi-eye-slash-fill'"></i>
                                  </span> -->
                        <input type="password" id="password" placeholder="Enter Password" name="password"
                            class="form-control" required />

                        <!--                                      
                                      <small
                                      *ngIf="(password.touched && password.invalid) || (password.invalid && LOGIN.submitted)">Password
                                      is
                                      required</small> -->
                    </div>

                    <br>
                    <div class="row mb-2">
                        <div class="col d-flex justify-content-center">

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" />
                                <label class="form-check-label" for="form2Example3"> Remember Me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="regis1" href="/forgotpassword"><b>Forgot
                                Password</b></a>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block mb-3 col-10">Login</button>


                </form>
            </div>
        </div>
    </div>


</section>