@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bs-stepper/dist/css/bs-stepper.min.css';

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family:Verdana, Geneva, Tahoma, sans-serif;    background-image: white;}

html, body { height: 100%; }
body { margin: 0; font-family: Verdana, Geneva, Tahoma, sans-serif;    background-image:white; }
/* You can add global styles to this file, and also import other style files */

.inputs{
    width: 50%;
    }

    .v1{
      border-left: 2px solid rgb(131, 130, 130);


      position: relative;

      margin-left: 10px;
      top: 0;
    }



    small{
      color: red;
    }