<form name="Visa" #Visa="ngForm" (ngSubmit)="Visa.valid && visaupdate(Visa)"><br>
    <h2 class="text-center" style="position: relative;bottom: -55px;">Add Visa Information</h2>
    <a [routerLink]="['/superuser/superuserinfo']" class=" ml-auto"
    routerLinkActive="router-link-active" role="button"
    style="position: relative;left: 20%;bottom: -45px;">
    <h5><i class="bi bi-arrow-left-short"></i>Back</h5>
</a>
<br>
<br>
    <div class="px-4 py-2 px-md-5 col-md-6 text-center text-lg-start" style="margin-left:24%">
        <div class=" shadow-lg p-4
         mb-2 bg-white rounded">
            <div class="card-body py-3 px-md-2">
                
                <div class="col-md-6">
                    <label class="form-label">Visa Type</label><span style="color: red;right: -3px;position: relative;">*</span>
                    <select class="form-select" id="visastatus" name="visastatus" aria-label="Default select example" #visastatus="ngModel" [(ngModel)]="VISA.visastatus" required>
                        <option>Choose Option</option>
                        <option value="B1">B1</option>
                        <option value="B2">B2</option>
                        <option value="H1B">H1B</option>
                        <option value="H2B">H2B</option>
                        <option value="L1A">L1A</option>
                        <option value="L2A">L2A</option>
                        <option value="permanent">Permanent Resident </option>
                        <option value="L2A">TN1</option>
                    </select>
                    <small *ngIf="(visastatus.touched && visastatus.invalid) || (visastatus.invalid && Visa.submitted)">*Visa Type is required </small>
                </div>
                <div class="col-md-6 mb-4">
                    <label class="form-label">Issuing Country</label><span style="color: red;right: -3px;position: relative;">*</span>
                    <select class="form-select" id="issuingcountry" name="issuingcountry" aria-label="Default select example"  #issuingcountry="ngModel" [(ngModel)]="VISA.issuingcountry" required>
                        <option disabled selected value>Country</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="American Samoa">American Samoa</option>
                                <option value="Andorra">Andorra</option>
                                <option value="Angola">Angola</option>
                                <option value="Anguilla">Anguilla</option>  
                                <option value="Antartica">Antarctica</option>
                                <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                <option value="Argentina">Argentina</option>
                                <option value="Armenia">Armenia</option>
                                <option value="Aruba">Aruba</option>
                                <option value="Australia">Australia</option>
                                <option value="Austria">Austria</option>
                                <option value="Azerbaijan">Azerbaijan</option>
                                <option value="Bahamas">Bahamas</option>
                                <option value="Bahrain">Bahrain</option>
                                <option value="Bangladesh">Bangladesh</option>
                                <option value="Barbados">Barbados</option>
                                <option value="Belarus">Belarus</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Belize">Belize</option>
                                <option value="Benin">Benin</option>
                                <option value="Bermuda">Bermuda</option>
                                <option value="Bhutan">Bhutan</option>
                                <option value="Bolivia">Bolivia</option>
                                <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                                <option value="Botswana">Botswana</option>
                                <option value="Bouvet Island">Bouvet Island</option>
                                <option value="Brazil">Brazil</option>
                                <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                <option value="Brunei Darussalam">Brunei Darussalam</option>
                                <option value="Bulgaria">Bulgaria</option>
                                <option value="Burkina Faso">Burkina Faso</option>
                                <option value="Burundi">Burundi</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Canada">Canada</option>
                                <option value="Cape Verde">Cape Verde</option>
                                <option value="Cayman Islands">Cayman Islands</option>
                                <option value="Central African Republic">Central African Republic</option>
                                <option value="Chad">Chad</option>
                                <option value="Chile">Chile</option>
                                <option value="China">China</option>
                                <option value="Christmas Island">Christmas Island</option>
                                <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                                <option value="Colombia">Colombia</option>
                                <option value="Comoros">Comoros</option>
                                <option value="Congo">Congo</option>
                                <option value="Congo">Congo, the Democratic Republic of the</option>
                                <option value="Cook Islands">Cook Islands</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                                <option value="Croatia">Croatia (Hrvatska)</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Cyprus">Cyprus</option>
                                <option value="Czech Republic">Czech Republic</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Djibouti">Djibouti</option>
                                <option value="Dominica">Dominica</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                                <option value="East Timor">East Timor</option>
                                <option value="Ecuador">Ecuador</option>
                                <option value="Egypt">Egypt</option>
                                <option value="El Salvador">El Salvador</option>
                                <option value="Equatorial Guinea">Equatorial Guinea</option>
                                <option value="Eritrea">Eritrea</option>
                                <option value="Estonia">Estonia</option>
                                <option value="Ethiopia">Ethiopia</option>
                                <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
                                <option value="Faroe Islands">Faroe Islands</option>
                                <option value="Fiji">Fiji</option>
                                <option value="Finland">Finland</option>
                                <option value="France">France</option>
                                <option value="France Metropolitan">France, Metropolitan</option>
                                <option value="French Guiana">French Guiana</option>
                                <option value="French Polynesia">French Polynesia</option>
                                <option value="French Southern Territories">French Southern Territories</option>
                                <option value="Gabon">Gabon</option>
                                <option value="Gambia">Gambia</option>
                                <option value="Georgia">Georgia</option>
                                <option value="Germany">Germany</option>
                                <option value="Ghana">Ghana</option>
                                <option value="Gibraltar">Gibraltar</option>
                                <option value="Greece">Greece</option>
                                <option value="Greenland">Greenland</option>
                                <option value="Grenada">Grenada</option>
                                <option value="Guadeloupe">Guadeloupe</option>
                                <option value="Guam">Guam</option>
                                <option value="Guatemala">Guatemala</option>
                                <option value="Guinea">Guinea</option>
                                <option value="Guinea-Bissau">Guinea-Bissau</option>
                                <option value="Guyana">Guyana</option>
                                <option value="Haiti">Haiti</option>
                                <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                                <option value="Holy See">Holy See (Vatican City State)</option>
                                <option value="Honduras">Honduras</option>
                                <option value="Hong Kong">Hong Kong</option>
                                <option value="Hungary">Hungary</option>
                                <option value="Iceland">Iceland</option>
                                <option value="India">India</option>
                                <option value="Indonesia">Indonesia</option>
                                <option value="Iran">Iran (Islamic Republic of)</option>
                                <option value="Iraq">Iraq</option>
                                <option value="Ireland">Ireland</option>
                                <option value="Israel">Israel</option>
                                <option value="Italy">Italy</option>
                                <option value="Jamaica">Jamaica</option>
                                <option value="Japan">Japan</option>
                                <option value="Jordan">Jordan</option>
                                <option value="Kazakhstan">Kazakhstan</option>
                                <option value="Kenya">Kenya</option>
                                <option value="Kiribati">Kiribati</option>
                                <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
                                <option value="Korea">Korea, Republic of</option>
                                <option value="Kuwait">Kuwait</option>
                                <option value="Kyrgyzstan">Kyrgyzstan</option>
                                <option value="Lao">Lao People's Democratic Republic</option>
                                <option value="Latvia">Latvia</option>
                                <option value="Lebanon">Lebanon</option>
                                <option value="Lesotho">Lesotho</option>
                                <option value="Liberia">Liberia</option>
                                <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                <option value="Liechtenstein">Liechtenstein</option>
                                <option value="Lithuania">Lithuania</option>
                                <option value="Luxembourg">Luxembourg</option>
                                <option value="Macau">Macau</option>
                                <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
                                <option value="Madagascar">Madagascar</option>
                                <option value="Malawi">Malawi</option>
                                <option value="Malaysia">Malaysia</option>
                                <option value="Maldives">Maldives</option>
                                <option value="Mali">Mali</option>
                    </select>
                    <small *ngIf="(issuingcountry.touched && issuingcountry.invalid) || (issuingcountry.invalid && Visa.submitted)">*Country is required </small>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        <label for="Date" class="form-label">Issued Date</label><span style="color: red;right: -3px;position: relative;">*</span>
                        <input type="date" class="form-control"  id="issueddate" name="issueddate" placeholder="Date"
                        #issueddate="ngModel" placeholder="IssuedDate" [(ngModel)]="VISA.issueddate" required/>
                        <small *ngIf="(issueddate.touched && issueddate.invalid) || (issueddate.invalid && Visa.submitted)">*Issued Date is required </small>
                    </div>
                </div>
                    <div class="col-md-6 mb-4">
                        <div class="form-outline">
                            <label for="Date" class="form-label">Expiration Date</label><span style="color: red;right: -3px;position: relative;">*</span>
                            <input type="date" class="form-control" id="expirationdate" name="expirationdate" placeholder="Date"
                            #expirationdate="ngModel" placeholder="ExpirationDate" [(ngModel)]="VISA.expirationdate" required/>
                            <small *ngIf="(expirationdate.touched && expirationdate.invalid) || (expirationdate.invalid && Visa.submitted)">*Expiration Date is required </small>
                        </div>
                    </div>
                    
                    <!-- <div class="col-md-6 mb-4">
                        <label for="Notes" class="form-label">Notes</label><span style="color: red;right: -3px;position: relative;">*</span>
                        <textarea class="form-control" id="textAreaExample" rows="3"
                            placeholder="type here" name="Description" #notes="ngModel"
                            aria-label="Default select example" [(ngModel)]="VISA.notes" required></textarea>
                        <label class="form-label" for="textAreaExample"></label>
                        <small *ngIf="(notes.touched && notes.invalid) || (notes.invalid && Visa.submitted)">*Expiration Date is required </small>
                    </div> -->
                    <div class="mt-4 pt-2">

                        <button  type="submit" class="btn btn-primary" style="margin-left:45%;">Add Details</button><br>
                    </div>    
            </div>
        </div>
    </div>
</form>