<app-navbar></app-navbar>
<br>
<a [routerLink]="['/superuser/superuser']" routerLinkActive="router-link-active"> <span><i
      class="bi bi-arrow-left"></i></span></a>
Dashboard<i class="bi bi-chevron-double-right"style="margin-left: 530px;"></i>
<h2 class="d-flex ">Active Employees</h2>
<br>
<div class="container" style="position: relative;top: 67px;left: 13%;">
  <div class="shadow p-5 mb-4 bg-white" id="shadow">
    <form name="Newemp" #Newemp="ngForm" (ngSubmit)="Newemp.valid && employee(Newemp)">
      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Basic Information</h5>
      <h6><i class="bi bi-sliders"></i> Customize fields</h6>
      <hr>
      <div class="row">
        <div class="col">
          <label class="form-label" for="EmployeeId">Employee Id</label><span>*</span>
          <input type="text" class="form-control" placeholder="Id" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Employee
            Id is required </small>
        </div><br>

        <div class="col">
          <label class="form-label" for="status">Status</label><span>*</span>
          <input class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="empdata.status" required>
          <small *ngIf="(status.touched && status.invalid) || (status.invalid && Newemp.submitted)">Status
            is required </small>
        </div><br>

        <div class="col">
          <label class="form-label">Gender*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>Male</option>
            <option>Female</option>

          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Gender
            is required </small>
        </div><br>

        <div class="col">
          <label for="DOB" class="form-label">Date Of
            Birth*</label>
          <input type="date" class="form-control" id="DOB" name="DOB" #DOB="ngModel"
            [(ngModel)]="empdata.DOB" required />
          <small *ngIf="(DOB.touched && DOB.invalid) || (DOB.invalid && Newemp.submitted)">Date
            Of Birth is required </small>
        </div>
        <br>
      </div>

      <br>

      <div class="row">

        <div class="col">
          <label class="form-label">Title*</label>
          <select class="form-select" id="title" name="title" #title="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.title" required>
            <option di>Select</option>
            <option>Mr</option>
            <option>Ms</option>
            <option>Mrs</option>
          </select>
          <small *ngIf="(title.touched && title.invalid) || (title.invalid && Newemp.submitted)">Title
            is required </small>
        </div><br>

        <div class="col">
          <label class="form-label" for="FirstName">First Name</label><span>*</span>
          <input type="text" class="form-control" placeholder="FirstName" name="FirstName" aria-label="FirstName"
            #FirstName="ngModel" [(ngModel)]="empdata.FirstName" required />
          <small *ngIf="(FirstName.touched && FirstName.invalid) || (FirstName.invalid && Newemp.submitted)">First
            Name
            is required </small>
        </div><br>

        <div class="col">
          <label class="form-label" for="LastName">Last Name</label><span>*</span>
          <input type="text" class="form-control" placeholder="LastName" name="LastName" aria-label="Last Name"
            #LastName="ngModel" [(ngModel)]="empdata.LastName" required />
          <small *ngIf="(LastName.touched && LastName.invalid) || (LastName.invalid && Newemp.submitted)">Last
            Name is required </small>
        </div><br>

        <div class="col">
          <label class="form-label">Marital Status*</label>
          <select class="form-select" id="MaritalStatus" name="MaritalStatus" #MaritalStatus="ngModel"
            aria-label="Default select example" [(ngModel)]="empdata.MaritalStatus" required>
            <option di>Select</option>
            <option>Single</option>
            <option>Married</option>
            <option>Divorced</option>
            <option>Widow</option>
            <option>Domestic Partnership</option>
          </select>
          <small
            *ngIf="(MaritalStatus.touched && MaritalStatus.invalid) || (MaritalStatus.invalid && Newemp.submitted)">Marital
            Status
            is required </small>

        </div><br>

        <div class="col">
          <label class="form-label" for="National Id/SSN/Aadhar No">National
            Id/SSN/Aadhar No</label><span>*</span>
          <input type="text" class="form-control" placeholder="SSN" name="SSN" aria-label="ssn" #ssn="ngModel"
            [(ngModel)]="empdata.ssn" required />
          <small *ngIf="(ssn.touched && ssn.invalid) || (ssn.invalid && Newemp.submitted)">National
            Id/SSN/Aadhar No
            is
            required </small>
        </div><br>

      </div>
      <div class="row">

        <div class="col">
          <label class="form-label" for="TaxFileNumber">Tax File
            Number/PAN/NIN</label><span>*</span>
          <input type="number" class="form-control" placeholder="246880" name="TaxFileNumber" aria-label="TaxFileNumber"
            #TaxFileNumber="ngModel" [(ngModel)]="empdata.TaxFileNumber" required />
          <small
            *ngIf="(TaxFileNumber.touched && TaxFileNumber.invalid) || (TaxFileNumber.invalid && Newemp.submitted)">Tax
            File Number is required </small>
        </div><br>

        <div class="col">
          <label class="form-label">Secondary Language*</label>
          <select class="form-select" id="SecondaryLanguage" name="SecondaryLanguage" #SecondaryLanguage="ngModel"
            aria-label="Default select example" [(ngModel)]="empdata.SecondaryLanguage" required>
            <option di>Select</option>
            <option>Hindi</option>
            <option>Bengali</option>
            <option>Tamil</option>
            <option>Malyalam</option>
          </select>
          <small
            *ngIf="(MaritalStatus.touched && MaritalStatus.invalid) || (MaritalStatus.invalid && Newemp.submitted)">Second
            LanguagezA
            is required </small>
        </div>
        <br>
      </div>

      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Address</h5>

      <hr>

      <div class="row">

        <div class="col">
          <label for="#Address1">Address Line-1</label><span>*</span>
          <input type="text" class="form-control" id="#AddressLine1" placeholder="AddressLine1" name="#AddressLine1"
            aria-label="#AddressLine1" #AddressLine1="ngModel" [(ngModel)]="empdata.AddressLine1" required />
          <small *ngIf="(AddressLine1.touched && AddressLine1.invalid) || (AddressLine1.invalid && Newemp.submitted)">
            Address Line-1 is required </small>
        </div><br>
        <div class="col">
          <label for="Address2">Address Line-2</label><span>*</span>
          <input type="text" class="form-control" id="AddressLine2" placeholder="AddressLine2" name="#AddressLine2"
            aria-label="#AddressLine2" #AddressLine2="ngModel" [(ngModel)]="empdata.AddressLine2" required />
          <small *ngIf="(AddressLine2.touched && AddressLine2.invalid) || (AddressLine2.invalid && Newemp.submitted)">
            Address Line-2 is required </small>
        </div><br>
        <div class="col">

          <label for="City1">City</label><span>*</span>
          <input type="text" class="form-control" id="City" name="City" aria-label="City" #City="ngModel"
            [(ngModel)]="empdata.City" required />
          <small *ngIf="(City.touched && City.invalid) || (City.invalid && Newemp.submitted)">
            City is required </small>
        </div><br>
        <div class="col">
          <label for="State">State</label><span>*</span>
          <input id="State" class="form-control" #State="ngModel" id="State" name="State" [(ngModel)]="empdata.State"
            required>
          <small *ngIf="(State.touched && State.invalid) || (State.invalid && Newemp.submitted)">State
            is required </small>
        </div><br>

        <div class="col">
          <label class="form-label">Country*</label>
          <select type="text" class="form-select" aria-label="Default select example" name="Country" id="Country"
            placeholder="Country" #Country="ngModel" required [(ngModel)]="empdata.Country">
            <option disabled selected value>Country</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antartica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegowina">Bosnia and Herzegowina
            </option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean
              Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic
            </option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos Islands">Cocos (Keeling) Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo">Congo, the Democratic Republic of the</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cota D'Ivoire">Cote d'Ivoire</option>
            <option value="Croatia">Croatia (Hrvatska)</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="East Timor">East Timor</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Falkland Islands">Falkland Islands (Malvinas)
            </option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="France Metropolitan">France, Metropolitan</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern
              Territories</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard and McDonald Islands">Heard and Mc Donald
              Islands</option>
            <option value="Holy See">Holy See (Vatican City State)</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran (Islamic Republic of)</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Democratic People's Republic of Korea">Korea,
              Democratic People's Republic
              of</option>
            <option value="Korea">Korea, Republic of</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya
            </option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macau">Macau</option>
            <option value="Macedonia">Macedonia, The Former Yugoslav Republic of
            </option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
          </select>
          <small *ngIf="(State.touched && State.invalid) || (State.invalid && Newemp.submitted)">Country
            is required </small>
        </div>

        <div class="col">
          <label for="ZipCode">Zip Code/Post code</label><span>*</span>
          <input type="number" name="ZipCode" class="form-control" placeholder="ZipCode/Postcode" aria-label="ZipCode"
            #ZipCode="ngModel" [(ngModel)]="empdata.ZipCode" required />
          <small *ngIf="(ZipCode.touched && ZipCode .invalid) || (ZipCode.invalid && Newemp.submitted)">Zip
            Code
            is
            required </small>
        </div>
      </div>

      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Contact Details</h5>

      <hr>
      <div class="row">

        <div class="col">
          <label class="form-label" for="contactnumber">Work Phone
          </label><span>*</span>
          <input type="number" class="form-control" name="contactnumber" aria-label="contactnumber" pattern="[0-9]{10}"
            #contactnumber="ngModel" [(ngModel)]="empdata.contactnumber" required />
          <small
            *ngIf="(contactnumber.touched && contactnumber.invalid) || (contactnumber.invalid && Newemp.submitted)">
            Work phone is required </small>
        </div>

        <div class="col">
          <label class="form-label" for="contactnumber">Mobile Phone</label><span>*</span>
          <input type="number" class="form-control" name="contactnumber" aria-label="contactnumber" pattern="[0-9]{10}"
            #contactnumber="ngModel" [(ngModel)]="empdata.contactnumber" required />
          <small
            *ngIf="(contactnumber.touched && contactnumber.invalid) || (contactnumber.invalid && Newemp.submitted)">
            Mobile number is required </small>
        </div>

        <div class="col">
          <label class="form-label" for="emailaddress">Work Mail</label><span>*</span>
          <input type="text" class="form-control" name="emailaddress" aria-label="emailaddress"
            pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailaddress="ngModel" [(ngModel)]="empdata.emailaddress"
            required />
          <small
            *ngIf="(emailaddress.touched && emailaddress.invalid) || (emailaddress.invalid && Newemp.submitted)">Work
            Mail-id
            is required </small>
        </div>

        <div class="col">
          <label class="form-label" for="emailaddress">Home Mail</label><span>*</span>
          <input type="text" class="form-control" name="emailaddress" aria-label="emailaddress"
            pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailaddress="ngModel" [(ngModel)]="empdata.emailaddress"
            required />
          <small
            *ngIf="(emailaddress.touched && emailaddress.invalid) || (emailaddress.invalid && Newemp.submitted)">Home
            Mail-id
            is required </small>
        </div>

      </div>
      <hr>
      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3"> Emergency Contact Details
      </h5>
      <div class="row">

        <div class="col">
          <label class="form-label" for="name">Name</label><span>*</span>
          <input type="text" class="form-control" placeholder="name" name="name" aria-label="name" #FirstName="ngModel"
            [(ngModel)]="empdata.FirstName" required />
          <small *ngIf="(FirstName.touched && FirstName.invalid) || (FirstName.invalid && Newemp.submitted)">Name
            is required </small>
        </div>

        <div class="col">
          <label class="form-label" for="emailaddress">Email-Id</label><span>*</span>
          <input type="text" class="form-control" name="emailaddress" aria-label="emailaddress"
            pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailaddress="ngModel" [(ngModel)]="empdata.emailaddress"
            required />
          <small
            *ngIf="(emailaddress.touched && emailaddress.invalid) || (emailaddress.invalid && Newemp.submitted)">Email-Id
            is required </small>
        </div>
        <div class="col">
          <label class="form-label" for="contactnumber">Phone Number</label><span>*</span>
          <input type="number" class="form-control" name="contactnumber" aria-label="contactnumber" pattern="[0-9]{10}"
            #contactnumber="ngModel" [(ngModel)]="empdata.contactnumber" required />
          <small
            *ngIf="(contactnumber.touched && contactnumber.invalid) || (contactnumber.invalid && Newemp.submitted)">
            Phone Number is required </small>
        </div>

        <div class="col">
          <label class="form-label">Relationship*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>Father</option>
            <option>Mother</option>
            <option>Brother</option>
            <option>Sister</option>
            <option>Husband</option>
            <option>Wife</option>
            <option>Friend</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">
            Relationship is required </small>
        </div>
      </div>
      <hr>
      <br>
      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3"> Education</h5>
      <br>
      <div class="row">
        <div class="col">
          <label class="form-label" for="highestdegree">Degree</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="highestdegree" aria-label="highestdegree"
            #highestdegree="ngModel" [(ngModel)]="empdata.highestdegree" required />
          <small
            *ngIf="(highestdegree.touched && highestdegree.invalid) || (highestdegree.invalid && Newemp.submitted)">Degree
            is required</small>
        </div>
        <div class="col">
          <label class="form-label" for="University">University</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="University" aria-label="University"
            #University="ngModel" [(ngModel)]="empdata.University" required />
          <small
            *ngIf="(University.touched && University.invalid) || (University.invalid && Newemp.submitted)">University
            is required</small>
        </div>
        <div class="col">
          <label class="form-label" for="Specialization">Specialization</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="Specialization" aria-label="Specialization"
            #Specialization="ngModel" [(ngModel)]="empdata.Specialization" required />
          <small
            *ngIf="(Specialization.touched && Specialization.invalid) || (Specialization.invalid && Newemp.submitted)">Specialization
            is required</small>
        </div>
        <div class="col">
          <label class="form-label" for="gpa">GPA</label><span>*</span>
          <input type="text" class="form-control" placeholder="Id" name="gpa" aria-label="gpa" #gpa="ngModel"
            [(ngModel)]="empdata.gpa" required />
          <small *ngIf="(gpa.touched && gpa.invalid) || (gpa.invalid && Newemp.submitted)">GPA is required </small>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="egreestartdate" class="form-label">Degree Start Date*</label>
          <input type="date" class="form-control" id="Educationstartdate" name="Educationstartdate" #Educationstartdate="ngModel"
            [(ngModel)]="empdata.egreestartdate" required />
          <small
            *ngIf="(Educationstartdate.touched && Educationstartdate.invalid) || (Educationstartdate.invalid && Newemp.submitted)">Degree
            Date is required </small>
        </div>

        <div class="col">
          <label for="Educationenddate" class="form-label">Degree End Date*</label>
          <input type="date" class="form-control" id="Educationenddate" name="Educationenddate" #Educationenddate="ngModel"
            [(ngModel)]="empdata.Educationenddate" required />
          <small
            *ngIf="(Educationenddate.touched && Educationenddate.invalid) || (Educationenddate.invalid && Newemp.submitted)">End
            Date is required </small>
        </div>

      </div>
      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Visa Information</h5>
      <hr>
      <div class="row">
        <div class="col">
          <label class="form-label" for="VisaStatus">Visa Type</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="VisaStatus" aria-label="VisaStatus"
            #VisaStatus="ngModel" [(ngModel)]="empdata.VisaStatus" required />
          <small *ngIf="(VisaStatus.touched && VisaStatus.invalid) || (VisaStatus.invalid && Newemp.submitted)">Visa
            Type

            is required</small>
        </div>

        <div class="col">
          <label class="form-label">Country*</label>
          <select type="text" class="form-select" aria-label="Default select example" name="Country" id="Country"
            placeholder="Country" #Country="ngModel" required [(ngModel)]="empdata.Country">
            <option disabled selected value>Country</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antartica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegowina">Bosnia and Herzegowina
            </option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean
              Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic
            </option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos Islands">Cocos (Keeling) Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo">Congo, the Democratic Republic of the</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cota D'Ivoire">Cote d'Ivoire</option>
            <option value="Croatia">Croatia (Hrvatska)</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="East Timor">East Timor</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Falkland Islands">Falkland Islands (Malvinas)
            </option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="France Metropolitan">France, Metropolitan</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern
              Territories</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard and McDonald Islands">Heard and Mc Donald
              Islands</option>
            <option value="Holy See">Holy See (Vatican City State)</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran (Islamic Republic of)</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Democratic People's Republic of Korea">Korea,
              Democratic People's Republic
              of</option>
            <option value="Korea">Korea, Republic of</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya
            </option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macau">Macau</option>
            <option value="Macedonia">Macedonia, The Former Yugoslav Republic of
            </option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
          </select>
          <small *ngIf="(State.touched && State.invalid) || (State.invalid && Newemp.submitted)">Country
            is required </small>
        </div>
        <div class="col">
          <label for="issuedDate" class="form-label">Issued Date*</label>
          <input type="date" class="form-control" id="issuedDate" name="issuedDate" #issuedDate="ngModel"
            [(ngModel)]="empdata.issuedDate" required />
          <small *ngIf="(issuedDate.touched && issuedDate.invalid) || (issuedDate.invalid && Newemp.submitted)">Issued
            Date is required </small>
        </div>
        <div class="col">
          <label for="expirationdate" class="form-label">Expiration Date*</label>
          <input type="date" class="form-control" id="expirationdate" name="expirationdate" #expirationdate="ngModel"
            [(ngModel)]="empdata.expirationdate" required />
          <small
            *ngIf="(expirationdate.touched && expirationdate.invalid) || (expirationdate.invalid && Newemp.submitted)">Expiration
            Date is required </small>
        </div>

        <div class="col">
          <label class="form-label" for="status">Status</label><span>*</span>
          <input class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="empdata.status" required>
          <small *ngIf="(status.touched && status.invalid) || (status.invalid && Newemp.submitted)">Status
            is required </small>
        </div>
        <!-- <div class="col">
            <label for="Notes" class="form-label">Notes</label>
            <textarea class="form-control" id="textAreaExample" rows="5" placeholder="Type Here" name="Notes"
              #Notes="ngModel" aria-label="Default select example" [(ngModel)]=" Newemp.Notes" required></textarea>
            <label class="form-label" for="textAreaExample"></label>
            <small *ngIf="Notes.touched &&Notes.invalid">Notes is required</small>
        </div> -->
      </div>
      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Bank Details</h5>
      <hr>
      <div class="row">
        <div class="col">
          <label class="form-label" for="VisaStatus">Bank Name</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="VisaStatus" aria-label="VisaStatus"
            #VisaStatus="ngModel" [(ngModel)]="empdata.VisaStatus" required />
          <small *ngIf="(VisaStatus.touched && VisaStatus.invalid) || (VisaStatus.invalid && Newemp.submitted)">Bank
            Name
            is required</small>
        </div>
        <div class="col">
          <label class="form-label" for="EmployeeId">Account Number</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Account
            Number is required </small>
        </div><br>

        <div class="col">
          <label class="form-label" for="VisaStatus">Account Name</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="VisaStatus" aria-label="VisaStatus"
            #VisaStatus="ngModel" [(ngModel)]="empdata.VisaStatus" required />
          <small *ngIf="(VisaStatus.touched && VisaStatus.invalid) || (VisaStatus.invalid && Newemp.submitted)">Account
            Name required</small>
        </div>

        <div class="col">
          <label for="ZipCode">IFSC Code</label><span>*</span>
          <input type="number" name="ZipCode" class="form-control" placeholder="" aria-label="ZipCode"
            #ZipCode="ngModel" [(ngModel)]="empdata.ZipCode" required />
          <small *ngIf="(ZipCode.touched && ZipCode .invalid) || (ZipCode.invalid && Newemp.submitted)">IFSC
            Code
            is
            required </small>
        </div>

        <div class="col">
          <label class="form-label" for="VisaStatus">Upload</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="VisaStatus" aria-label="VisaStatus"
            #VisaStatus="ngModel" [(ngModel)]="empdata.VisaStatus" required />
          <small *ngIf="(VisaStatus.touched && VisaStatus.invalid) || (VisaStatus.invalid && Newemp.submitted)">File
            is required</small>
        </div>
      </div>


      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Onboarding Details</h5>
      <hr>

      <div class="row">
        <div class="col-2">
          <label for="issuedDate" class="form-label">Date of Joining*</label>
          <input type="date" class="form-control" id="issuedDate" name="issuedDate" #issuedDate="ngModel"
            [(ngModel)]="empdata.issuedDate" required />
          <small *ngIf="(issuedDate.touched && issuedDate.invalid) || (issuedDate.invalid && Newemp.submitted)">Joining
            Date is required </small>
        </div>
        <div class="col-2">
          <label for="issuedDate" class="form-label">Probation End Date*</label>
          <input type="date" class="form-control" id="issuedDate" name="issuedDate" #issuedDate="ngModel"
            [(ngModel)]="empdata.issuedDate" required />
          <small *ngIf="(issuedDate.touched && issuedDate.invalid) || (issuedDate.invalid && Newemp.submitted)">End
            Date is required </small>
        </div>
        <div class="col-2">
          <label class="form-label" for="status">Probation Status</label><span>*</span>
          <input class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="empdata.status" required>
          <small *ngIf="(status.touched && status.invalid) || (status.invalid && Newemp.submitted)">Status
            is required </small>
        </div>
        <div class="col-2">
          <label class="form-label" for="EmployeeId">Notice period</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Notice
            Period is required </small>
        </div><br>
        <div class="col-3">
          <label class="form-label" for="status">Background check Status</label><span>*</span>
          <input class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="empdata.status" required>
          <small *ngIf="(status.touched && status.invalid) || (status.invalid && Newemp.submitted)">Status
            is required </small>
        </div><br>
        <div class="col">
          <label for="validationTextarea" class="form-label">Notes</label>
          <textarea class="form-control" id="validationTextarea" style="height:2px" placeholder="Enter Here"
            required></textarea>
        </div>

      </div>

      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Employement Type</h5>
      <hr>
      <div class="row">
        <div class="col-3">
          <label class="form-label">Job Type*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>1 Month</option>
            <option>2 Months</option>
            <option>3 Months</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Job Type
            is required </small>
        </div>
        <div class="col">
          <label for="effectivedate" class="form-label">EMP Effective Date*</label>
          <input type="date" class="form-control" id="effectivedate" name="effectivedate" #effectivedate="ngModel"
            [(ngModel)]="empdata.effectivedate" required />
          <small
            *ngIf="(effectivedate.touched && effectivedate.invalid) || (effectivedate.invalid && Newemp.submitted)">Effective
            Date is required </small>
        </div>
        <div class="col">
          <label for="validationTextarea" class="form-label">Commentsss</label>
          <textarea class="form-control" id="validationTextarea" style="height:2px" placeholder="Enter Here"
            required></textarea>
        </div>

      </div>

      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Job Details</h5>
      <hr>
      <div class="row">
        <div class="col">
          <label for="JobEffectiveDate" class="form-label">Effective Date*</label>
          <input type="date" class="form-control" id="JobEffectiveDate" name="JobEffectiveDate"
            #JobEffectiveDate="ngModel" [(ngModel)]="empdata.JobEffectiveDate" required />
          <small
            *ngIf="(JobEffectiveDate.touched && JobEffectiveDate.invalid) || (JobEffectiveDate.invalid && Newemp.submitted)">Effective
            Date is required </small>
        </div>
        <div class="col">
          <label class="form-label" for="status">Job Role</label><span>*</span>
          <input class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="empdata.status" required>
          <small *ngIf="(status.touched && status.invalid) || (status.invalid && Newemp.submitted)">Job Role
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Reporting To*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>Satya Kishore Mavuri</option>
            <option>Deepthi</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Reporting to
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Department*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option>IT</option>
            <option>Cse</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Department
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Business Area*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option></option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Business Area
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Country*</label>
          <select type="text" class="form-select" aria-label="Default select example" name="Country" id="Country"
            placeholder="Country" #Country="ngModel" required [(ngModel)]="empdata.Country">
            <option disabled selected value>Country</option>
            <option value="Afghanistan">Afghanistan</option>
            <option value="Albania">Albania</option>
            <option value="Algeria">Algeria</option>
            <option value="American Samoa">American Samoa</option>
            <option value="Andorra">Andorra</option>
            <option value="Angola">Angola</option>
            <option value="Anguilla">Anguilla</option>
            <option value="Antartica">Antarctica</option>
            <option value="Antigua and Barbuda">Antigua and Barbuda</option>
            <option value="Argentina">Argentina</option>
            <option value="Armenia">Armenia</option>
            <option value="Aruba">Aruba</option>
            <option value="Australia">Australia</option>
            <option value="Austria">Austria</option>
            <option value="Azerbaijan">Azerbaijan</option>
            <option value="Bahamas">Bahamas</option>
            <option value="Bahrain">Bahrain</option>
            <option value="Bangladesh">Bangladesh</option>
            <option value="Barbados">Barbados</option>
            <option value="Belarus">Belarus</option>
            <option value="Belgium">Belgium</option>
            <option value="Belize">Belize</option>
            <option value="Benin">Benin</option>
            <option value="Bermuda">Bermuda</option>
            <option value="Bhutan">Bhutan</option>
            <option value="Bolivia">Bolivia</option>
            <option value="Bosnia and Herzegowina">Bosnia and Herzegowina
            </option>
            <option value="Botswana">Botswana</option>
            <option value="Bouvet Island">Bouvet Island</option>
            <option value="Brazil">Brazil</option>
            <option value="British Indian Ocean Territory">British Indian Ocean
              Territory</option>
            <option value="Brunei Darussalam">Brunei Darussalam</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Burkina Faso">Burkina Faso</option>
            <option value="Burundi">Burundi</option>
            <option value="Cambodia">Cambodia</option>
            <option value="Cameroon">Cameroon</option>
            <option value="Canada">Canada</option>
            <option value="Cape Verde">Cape Verde</option>
            <option value="Cayman Islands">Cayman Islands</option>
            <option value="Central African Republic">Central African Republic
            </option>
            <option value="Chad">Chad</option>
            <option value="Chile">Chile</option>
            <option value="China">China</option>
            <option value="Christmas Island">Christmas Island</option>
            <option value="Cocos Islands">Cocos (Keeling) Islands</option>
            <option value="Colombia">Colombia</option>
            <option value="Comoros">Comoros</option>
            <option value="Congo">Congo</option>
            <option value="Congo">Congo, the Democratic Republic of the</option>
            <option value="Cook Islands">Cook Islands</option>
            <option value="Costa Rica">Costa Rica</option>
            <option value="Cota D'Ivoire">Cote d'Ivoire</option>
            <option value="Croatia">Croatia (Hrvatska)</option>
            <option value="Cuba">Cuba</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Djibouti">Djibouti</option>
            <option value="Dominica">Dominica</option>
            <option value="Dominican Republic">Dominican Republic</option>
            <option value="East Timor">East Timor</option>
            <option value="Ecuador">Ecuador</option>
            <option value="Egypt">Egypt</option>
            <option value="El Salvador">El Salvador</option>
            <option value="Equatorial Guinea">Equatorial Guinea</option>
            <option value="Eritrea">Eritrea</option>
            <option value="Estonia">Estonia</option>
            <option value="Ethiopia">Ethiopia</option>
            <option value="Falkland Islands">Falkland Islands (Malvinas)
            </option>
            <option value="Faroe Islands">Faroe Islands</option>
            <option value="Fiji">Fiji</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="France Metropolitan">France, Metropolitan</option>
            <option value="French Guiana">French Guiana</option>
            <option value="French Polynesia">French Polynesia</option>
            <option value="French Southern Territories">French Southern
              Territories</option>
            <option value="Gabon">Gabon</option>
            <option value="Gambia">Gambia</option>
            <option value="Georgia">Georgia</option>
            <option value="Germany">Germany</option>
            <option value="Ghana">Ghana</option>
            <option value="Gibraltar">Gibraltar</option>
            <option value="Greece">Greece</option>
            <option value="Greenland">Greenland</option>
            <option value="Grenada">Grenada</option>
            <option value="Guadeloupe">Guadeloupe</option>
            <option value="Guam">Guam</option>
            <option value="Guatemala">Guatemala</option>
            <option value="Guinea">Guinea</option>
            <option value="Guinea-Bissau">Guinea-Bissau</option>
            <option value="Guyana">Guyana</option>
            <option value="Haiti">Haiti</option>
            <option value="Heard and McDonald Islands">Heard and Mc Donald
              Islands</option>
            <option value="Holy See">Holy See (Vatican City State)</option>
            <option value="Honduras">Honduras</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="India">India</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran (Islamic Republic of)</option>
            <option value="Iraq">Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Israel">Israel</option>
            <option value="Italy">Italy</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            <option value="Jordan">Jordan</option>
            <option value="Kazakhstan">Kazakhstan</option>
            <option value="Kenya">Kenya</option>
            <option value="Kiribati">Kiribati</option>
            <option value="Democratic People's Republic of Korea">Korea,
              Democratic People's Republic
              of</option>
            <option value="Korea">Korea, Republic of</option>
            <option value="Kuwait">Kuwait</option>
            <option value="Kyrgyzstan">Kyrgyzstan</option>
            <option value="Lao">Lao People's Democratic Republic</option>
            <option value="Latvia">Latvia</option>
            <option value="Lebanon">Lebanon</option>
            <option value="Lesotho">Lesotho</option>
            <option value="Liberia">Liberia</option>
            <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya
            </option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxembourg">Luxembourg</option>
            <option value="Macau">Macau</option>
            <option value="Macedonia">Macedonia, The Former Yugoslav Republic of
            </option>
            <option value="Madagascar">Madagascar</option>
            <option value="Malawi">Malawi</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Maldives">Maldives</option>
            <option value="Mali">Mali</option>
          </select>
          <small *ngIf="(State.touched && State.invalid) || (State.invalid && Newemp.submitted)">Country
            is required </small>
        </div>
      </div>
      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Compensation Details</h5>
      <hr>
      <div class="row">
        <div class="col">
          <label for="CompensationEffectiveDate" class="form-label">Effective Date*</label>
          <input type="date" class="form-control" id="CompensationEffectiveDate" name="CompensationEffectiveDate"
            #CompensationEffectiveDate="ngModel" [(ngModel)]="empdata.CompensationEffectiveDate" required />
          <small
            *ngIf="(CompensationEffectiveDate.touched && CompensationEffectiveDate.invalid) || (CompensationEffectiveDate.invalid && Newemp.submitted)">Effective
            Date is required </small>
        </div>
        <div class="col">
          <label class="form-label">OvertimeEligibilityEligibility Eligibility*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>1 Month</option>
            <option>2 Months</option>
            <option>3 Months</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">OvertimeEligibility
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Reason*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>1 Month</option>
            <option>2 Months</option>
            <option>3 Months</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Reason
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Frequency*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>1 Month</option>
            <option>2 Months</option>
            <option>3 Months</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Frequency
            is required </small>
        </div>
        <div class="col">
          <label class="form-label">Pay Type*</label>
          <select class="form-select" id="Gender" name="Gender" #Gender="ngModel" aria-label="Default select example"
            [(ngModel)]="empdata.Gender" required>
            <option di>Select</option>
            <option>1 Month</option>
            <option>2 Months</option>
            <option>3 Months</option>
          </select>
          <small *ngIf="(Gender.touched && Gender.invalid) || (Gender.invalid && Newemp.submitted)">Pay Type
            is required </small>
        </div>
        <div class="col">
          <label class="form-label" for="EmployeeId">Amount</label><span>*</span>
          <input type="text" class="form-control" placeholder="" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Amount
            is required </small>
        </div><br>
      </div>
      <br>
      <div class="row">
        <div class="col-4">
          <label for="validationTextarea" class="form-label">Comments</label>
          <textarea class="form-control" id="validationTextarea" style="height:2px" placeholder="Enter Here"
            required></textarea>
        </div>
      </div>
      <hr>

      <h5 class="mb-4 pb-2 pb-md-0 mb-md-3">Security Details</h5>
      <hr>
      <div class="row">
        <div class="col">
          <label class="form-label" for="EmployeeId">User Id</label><span>*</span>
          <input type="text" class="form-control" placeholder="Id" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Employee
            Id is required </small>
        </div><br>
        <div class="col">
          <label class="form-label" for="EmployeeId">Password</label><span>*</span>
          <input type="text" class="form-control" placeholder="Id" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Employee
            Id is required </small>
        </div><br>
        <div class="col">
          <label class="form-label" for="EmployeeId">Confirm Password</label><span>*</span>
          <input type="text" class="form-control" placeholder="Id" name="EmployeeId" aria-label="EmployeeId"
            #EmployeeId="ngModel" [(ngModel)]="empdata.EmployeeId" required />
          <small *ngIf="(EmployeeId.touched && EmployeeId.invalid) || (EmployeeId.invalid && Newemp.submitted)">Employee
            Id is required </small>
        </div><br>
      </div>
    </form>
    <br>

  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col"  style="margin-left: 530px;">
    <button [routerLink]="['/admin/']" routerLinkActive="router-link-active" type="button" class="btn btn-primary">Save
      Changes</button>
  </div>
  <div class="col"  style="margin-right: 200px;">
    <h5>Cancel</h5>
  </div>
</div>