<app-navbar></app-navbar>
<div class="container">
  <div class="container" style="position: relative;top: 67px;left: 13%;">

    <br>
    <a [routerLink]="['/admin/myorga']" routerLinkActive="router-link-active"> <span><i
          class="bi bi-arrow-left"></i></span></a>
    Dashboard<i class="bi bi-chevron-double-right"></i>
    <h2 class="d-flex ">Payroll Employees</h2>
    <br>
    <div class="card">
      <div class="card-body"><br>
        <table class="table auto-index table-hover flex-wrap tabledes">

          <thead>
            <tr>
              <th>Employee Id</th>
              <th>Employee Name</th>
              <th>Total Payroll Expenses</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let pay of payrollexpense">
              <td>{{pay.employeeid}}</td>
              <td>{{pay. employeename}}</td>
              <td>{{pay.totalpayrollexpenses}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>