<div class="container">
  <h1>Payroll Expenses</h1>
  <input [routerLink]="['/admin/launchpage']" type="submit" class="btn btn-primary" id="expense" value="Back"
    name="payroll"><br><br>
  <div class="container-fluid col-md-10">
    <div class="card">
      <div class="card-body">

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Employee Id</th>
              <th>Employee Name</th>
              
              <th>Total Payroll Expenses</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let pay of payrollexpense">
              <td>{{pay.employeeid}}</td>
              <td>{{pay. employeename}}</td>
              <td>{{pay.totalpayrollexpenses}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>