
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/personaldata">Personal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/jobtab">Job</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/login">Document</a>
  </li>

</ul>
<br>
<button
  [routerLink]="['/admin/activeemployeedata']"
  routerLinkActive="router-link-active"
  type="button" style="margin-left: 50px;"
  class="btn btn-primary">Back</button>


<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
<section class="vh-200 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-50">
      <div class="col-12 col-lg-9 col-xl-9">
        <div class="shadow-lg p-3 mb-5 bg-body " id="shadow">

          <div class="card-body p-4 p-md-4">

            <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Basic Information</h4>
            <div class="fixTableHead">
              <form name="Personal" #Personal="ngForm" (ngSubmit)="Personal.valid && personal(Personal)">
                <div class="row">

                  <div class="col">
                    <label class="form-label" for="employeeid">Employee Id</label><span>*</span>
                    <input type="text" class="form-control" placeholder="203356" name="employeeid"
                      aria-label="EmployeeId" #employeeid="ngModel" [(ngModel)]="empdata.employeeid" required />
                    <small
                      *ngIf="(employeeid.touched && employeeid.invalid) || (employeeid.invalid && Personal.submitted)">EmployeeId
                      is required </small>
                  </div>


                  <div class="col">
                    <label class="form-label" for="status">Status</label><span>*</span>
                    <input class="form-control" id="status" name="status" #status="ngModel" [(ngModel)]="empdata.status"
                      required>
                  </div>


                  <div class="col">
                    <label class="form-label" for="firstname">First Name</label><span>*</span>
                    <input type="text" class="form-control" placeholder="firstname" name="firstname"
                      aria-label="firstname" #firstname="ngModel" [(ngModel)]="empdata.firstname" required />
                    <small
                      *ngIf="(firstname.touched && firstname.invalid) || (firstname.invalid && Personal.submitted)">firstName
                      is required </small>
                  </div>

                </div>




                <br>


                <div class="row">

                  <div class="col">
                    <label class="form-label" for="lastname">Last Name</label><span>*</span>
                    <input type="text" class="form-control" placeholder="lastname" name="lastname" aria-label="Last Name"
                      #lastname="ngModel" [(ngModel)]="empdata.lastname" required />
                    <small
                      *ngIf="(lastname.touched && lastname.invalid) || (lastname.invalid && Personal.submitted)">Last
                      Name is required </small>
                  </div>


                  <div class="col">
                    <label class="form-label" for="fullname">Full Name</label><span>*</span>
                    <input type="text" class="form-control" placeholder="fullname" name="fullname" aria-label="Full Name"
                      #fullname="ngModel" [(ngModel)]="empdata.fullname" required />
                    <small
                      *ngIf="(fullname.touched && fullname.invalid) || (fullname.invalid && Personal.submitted)">full
                      Name is required </small>
                  </div>


                  <div class="col">
                    <label for="dateofbirth" class="form-label">Date Of Birth</label>
                    <input type="date" class="form-control" id="dateofbirth" name="dateofbirth" #dateofbirth="ngModel"
                      [(ngModel)]="empdata.dateofbirth" required />

                  </div>

                </div>



                <br>



                <div class="row">

                  <div class="col-4">
                    <label class="form-label" for="ssn">SSN</label><span>*</span>
                    <input type="text" class="form-control" placeholder="ssn" name="ssn" aria-label="ssn" #ssn="ngModel"
                      [(ngModel)]="empdata.ssn" required />
                    <small *ngIf="(ssn.touched && ssn.invalid) || (ssn.invalid && Personal.submitted)">SSN Name is
                      required </small>
                  </div>


                  <div class="col-4">
                    <label class="form-label" for="taxfilenumber">Tax File Number</label><span>*</span>
                    <input type="number" class="form-control" placeholder="246880" name="taxfilenumber"
                      aria-label="taxfilenumber" #taxfilenumber="ngModel" [(ngModel)]="empdata.taxfilenumber"
                      required />
                    <small
                      *ngIf="(taxfilenumber.touched && taxfilenumber.invalid) || (taxfilenumber.invalid && Personal.submitted)">Tax
                      File Number Name is required </small>
                  </div>


                </div>


                <hr>

                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Address</h4>
                <div class="fixTableHead">


                  <div class="form-group">
                    <label for="#Address1">Address-1</label><span>*</span>
                    <input type="text" class="form-control" id="#addressline1" placeholder="addressline1"
                      name="#addressline1" aria-label="#addressline1" #addressline1="ngModel" [(ngModel)]="empdata.addressline1"
                      required />
                    <small *ngIf="(addressline1.touched && addressline1.invalid) || (addressline1.invalid && Personal.submitted)">
                      Address-1 is required </small>
                  </div>
                  <div class="form-group">
                    <label for="Address2">Address-2</label><span>*</span>
                    <input type="text" class="form-control" id="addressline2" placeholder="addressline2"
                      name="#addressline2" aria-label="#addressline2" #addressline2="ngModel" [(ngModel)]="empdata.addressline2"
                      required />
                    <small *ngIf="(addressline2.touched && addressline2.invalid) || (addressline2.invalid && Personal.submitted)">
                      Address-2 is required </small>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="CITY1">City</label><span>*</span>
                      <input type="text" class="form-control" id="city" name="city" aria-label="city"
                        #city="ngModel" [(ngModel)]="empdata.city" required />
                      <small *ngIf="(city.touched && city.invalid) || (city.invalid && Personal.submitted)">
                        City is required </small>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="state">State</label><span>*</span>
                      <input id="state" class="form-control" #state="ngModel" id="state" name="state"
                        [(ngModel)]="empdata.state" required>
                    </div>
                    <div class="form-group col-md-2">
                      <label for="zipcode">Zip code</label><span>*</span>
                      <input type="number" name="zipCode" class="form-control" placeholder="zipCode" aria-label="zipcode"
                        #zipcode="ngModel" [(ngModel)]="empdata.zipcode" required />
                      <small
                        *ngIf="(zipcode.touched && zipcode .invalid) || (zipcode.invalid && Personal.submitted)">ZipCode
                        is
                        required </small>
                    </div>
                  </div>

                </div>

                <hr>
                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Contact Details</h4>
                <div class="row">

                  <div class="col">
                    <label class="form-label" for="contactnumber">Phone Number</label><span>*</span>
                    <input type="number" class="form-control" name="contactnumber" aria-label="contactnumber"
                    pattern="[0-9]{10}" #contactnumber="ngModel" [(ngModel)]="empdata.contactnumber" required />
                    <small
                      *ngIf="(contactnumber.touched && contactnumber.invalid) || (contactnumber.invalid && Personal.submitted)">
                      phone number is required </small>
                  </div>


                  <div class="col">
                    <label class="form-label" for="emergencynumber">Emergency phone number</label><span>*</span>
                    <input type="number" class="form-control" name="emergencynumber"
                      aria-label="emergencynumber" pattern="[0-9]{10}" #emergencynumber="ngModel"
                      [(ngModel)]="empdata.emergencynumber" required />
                    <small
                      *ngIf="(emergencynumber.touched && emergencynumber.invalid) || (emergencynumber.invalid && Personal.submitted)">emergency
                      phone number is required </small>
                  </div>


                  <div class="col">
                    <label class="form-label" for="emailaddress">Email-Id</label><span>*</span>
                    <input type="text" class="form-control" name="emailaddress" aria-label="emailaddress" pattern="[a-z0-9._+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailaddress="ngModel"
                      [(ngModel)]="empdata.emailaddress" required />
                    <small *ngIf="(emailaddress.touched && emailaddress.invalid) || (emailaddress.invalid && Personal.submitted)">email
                      id
                      is required </small>
                  </div>
                  <br>
                  <br>
                  <div class="mt-2 pt-1" id="btn">
                    <button type="submit" style="display: flex;position: relative;left: 40%;"
                      class="btn btn-primary" (click)="personaltab()">Update</button>
                  </div>

                </div>
                <br>
                <br>


              </form>
            </div>
            <hr>
            <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Educational Information</h4>
            <button [routerLink]="['/education-update']" type="button" style="position: relative;left: 83%;top: -49px;"
              class="btn btn-primary">+Add New</button><br>
            <br>
            <br>
            <div class="table-bordered" >

              <table class="table " >
                <thead class="bg-light">
                  <tr>
                    <th>Degree</th>
                    <th>University</th>
                    <th>Specialization</th>
                    <th>Grade/Score</th>
                    <th>Degree StartDate</th>
                    <th>Degree EndDate</th>

                  </tr>
                </thead>

                <tr *ngFor="let ed of educationData">
                  <td>{{ed.highestdegree}}</td>
                  <td>{{ed.university}}</td>

                  <td>{{ed.specialization}}</td>

                  <td>{{ed.gpa}}</td>

                  <td>{{ed.degreestartdate}}</td>
                  <td>{{ed.degreeenddate}}</td>


                </tr>



              </table>


            </div>
            <hr><br>

            <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Visa Information</h4>
            <button [routerLink]="['/visaupdate']" style="position: relative;left: 83%;top: -49px;" type="button"
              class="btn btn-primary">+Add New</button><br>

            <br>
            <br>
            <div class="table-bordered" >

              <table class="table " >
                <thead class="bg-light">
                  <tr>
                    <th>Date</th>
                    <th>Visa status</th>
                    <th>Issued Country</th>
                    <th>Issued Date</th>
                    <th>Expiry Date</th>
                    <th>Status</th>
                  </tr>
                </thead>

                <tr *ngFor="let vi of visaData">
                  <td>{{vi.date}}</td>
                  <td>{{vi.visastatus}}</td>

                  <td>{{vi.issuingcountry}}</td>

                  <td>{{vi.issueddate}}</td>

                  <td>{{vi.expirationdate}}</td>
                  <td>{{vi.status}}</td>



                </tr>

              </table>

            </div>
            <hr>
            <br>
           
          </div>
        </div>






        
      </div>
    </div>
  </div>

</section>
