.container{
border-radius: 25px;
width: 115%;
height: 70%;
margin-right:10% ;
/* margin-left: 5%; */

}
.box{
    display: flex;
    flex-grow: 1;

}
.move{
  margin-top: 15%;
}
.down{
    margin-top: 35vh;
}



