<div class="container-fluid col-md-10">
    <div class="container-fluid">
        <div class="card-body p-4 p-md-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Expenses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Invoices</a>
                </li>

            </ul>
            <br>
            
         
                    <br>
                    <br>

                    <div class="fixTableHead shadow">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th> S.No </th>
                                    <th>Submitted Date</th>
                                    <th> Approved Date</th>
                                    <th>Expense Type</th>
                                    <th>Employee Name</th>
                                    <th>Supervisor Name</th>
                                    <th>Expense link</th>
                                    <th>Status</th>



                                </tr>
                            </thead>
                            <tr>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
</div>






