*{
    box-sizing: border-box;
  }
  
  .fixTableHead {
  overflow-y: auto;
  height: 62vh;
  width: 100%;
  }
  
  .fixTableHead thead th {
  position: sticky;
  top: 0;
  
  }
  table {
    border-collapse: collapse;        
    width: 100%;
    background-color: white;
    vertical-align: baseline;
    text-align: center;
    }
  
  .shadow{
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    
  }
  
    th:first-of-type {
    border-top-left-radius: 10px;
    }
    th:last-of-type {
    border-top-right-radius: 10px;
    }
  
  
    td {
      padding: 8px 15px;
      padding: 20px;
      font-size: 18px;
      border-top: 1px solid rgb(236, 235, 235);
      left: 20%;

      }
      th {
        background-color: rgba(208, 210, 212, 0.418);
        padding: 20px;
        font-size: 18px;
        
      }
      .header{
        text-align: center;
        text-transform: uppercase;
    }
  
   .data{
    text-align: justify;
   }
    
   h4{
    text-align: left;
    font-style:bold;
   }

 

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


  /* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background:  whitesmoke;
  /* color: #fff; */
  transition: all 0.3s;
  padding: 10px;
  color:black;
  height: 815px;
}

#sidebar.active {
  margin-left: -250px;
 
}



#sidebar span.components {
  padding: 20px 0;
  border-bottom: 1px solid  #d4cbcbec;
}

#sidebar span {
  /* color: rgb(10, 10, 10); */
  padding: 0px;
  font-size: 1.1em;
  display: block;
  cursor: pointer;
 
}




#sidebar  div:hover {
  color: #fd0000;
  background:  rgba(99, 166, 233, 0.418);
}

#sidebar div:hover{
  transition: all 0.3s linear;
  transform: scale(1.1);
  color:blue;
}
/* span :hover  { */
  .ms-2  :hover{
 color:red;
}
i:hover{
  color:red;
}



@import "~bootstrap-icons/font/bootstrap-icons.css"



