 
/*fixed table head*/

*{
  box-sizing: border-box;
}

.fixTableHead {
                overflow-y: auto;
                height: 70vh;
                width: 100%;
              }

.fixTableHead thead th {
                         position: sticky;
                         top: 0;

                       }


table {
        border-collapse: collapse;        
        width: 100%;
        background-color: white;
        vertical-align: baseline;
        text-align: center;
}

.shadow{

               box-shadow: 0 2px 15px rgba(64,64,64,.7);
        }

  th:first-of-type {
                     
                          border-top-left-radius: 10px;
                   }

  th:last-of-type {
                  border-top-right-radius: 10px;
                  }


  td {
    padding: 8px 15px;
     padding: 20px;
    font-size: 18px;
    border-top: 1px solid rgb(236, 235, 235);
    left: 20%;
   
    }


  th {
      background-color: rgba(208, 210, 212, 0.418);
      padding: 20px;
      font-size: 18px;
    }
    .header{
      text-align: center;
      text-transform: uppercase;
  }

 .data{
  text-align: justify;
 }
  
 h4{
  text-align: center;
 }

 .dot {

  height: 12px;

  width: 12px;

  background-color: rgb(135, 151, 236);

  border-radius: 50%;

  display: inline-block;

}
.greendot {

  height: 8px;

  width: 8px;

  background-color: green;

  border-radius: 50%;

  display: inline-block;

}
 
.reddot {

  height: 8px;

  width: 8px;

  background-color: red;

  border-radius: 50%;

  display: inline-block;

}

.navydot {

  height: 8px;

  width: 8px;

  background-color: navy;

  border-radius: 50%;

  display: inline-block;

}

