<div class="wrapper">
    <div class="container-fluid col-md-10" style="position: relative;top: 70px;">
        <div class="container-fluid">
            <div class="card-body p-4 p-md-4">

                <br>
                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Expenses</h4>
                <button [routerLink]="['/admin/new-expense']" type="button"
                    style="position: relative;left: 83%;top: -49px;" class="btn btn-primary">+Add New</button><br>

                <br>
                <br>

                <div class="fixTableHead shadow">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>No.</th>
                                <th>Expense Date</th>
                                <th> Expense Type</th>
                                <th>Amount</th>
                                <th>Invoice</th>
                                <th>Status</th>


                            </tr>
                        </thead>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>