<br>
<br>
<br>
<div class="container  fluid col-md-10">
    <div class="container-fluid ">


                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Expenses</h4>
                <button [routerLink]="['/admin/new-expense']" type="button"
                    style="position: relative;left: 83%;" class="btn btn-primary">+Add New</button><br>
</div>
                    <hr>

                   <br>
                
                    <div class="container">
                
                        <div class="row">
                            <div class="col-sm">
                                <h4>Name: Ramu Srirangam </h4>
                            </div>
                            <div class="col-sm">
                                <h4>Employee ID: 1012 </h4>
                            </div>
                            <div class="col-sm">
                                <h4> Total Amount $840</h4>
                            </div>
                        </div>
                    </div>
                <br>
                
                
                
                    <div class="fixTableHead  shadow">

                        <table class="table ">
                            <thead class="table-light"></thead>
                            <thead>
                                <tr>
                                    <th>No</th>
                                    
                                    <th>Expense Date</th>
                
                                    <th>Expense Type</th>
                                    <th>Amount</th>
                                    <th>Invoice </th>
                                   
                                    <th>Status</th>
                
                                </tr>
                            </thead>

              
                
              
                        <tr style="inline-size: 50%;" >
                            <td>1</td>
                            <td>12/11/21</td>
                            <td>Travel</td>
                            <td>$350</td>
                            <td><a href=""><i class="bi bi-paperclip"></i>View</a></td>
                            <td><span class="dot"></span> In Review</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>12/08/21</td> 
                            <td>Travel</td>
                            <td>$490</td>
                            <td><a href=""><i class="bi bi-paperclip"></i>View</a></td>
                            <td> <span class="greendot"></span>Approved</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>12/08/21</td>
                            <td>Other</td>
                            <td>$50</td>
                            <td><a href=""><i class="bi bi-paperclip"></i>View</a></td>
                            <td><span class="reddot"></span>Rejected</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>12/06/21</td>
                            <td>Other</td>
                            <td>-</td>
                            <td><a href=""><i class="bi bi-paperclip"></i>View</a></td>
                            <td><span class="navydot"></span>Draft</td>
                        </tr>


                    </table>
                </div>
            </div>
        