.newapproval{
    position: relative;
    left: 70%;
}
.line{



    background-color: rgba(126, 114, 114, 0.911);

    height: 1px;

   

 

  }
  .infoupdate{
    position: relative;
    left: 60%;
  }
  .infoup{
width: 30%;
  }