
<app-sidebaremp></app-sidebaremp>

<div class="container-fluid col-md-10" style="position: relative;top: 67px;left: 13%;">

    <div class="container-fluid">

        <div class="card-body p-4 p-md-4">

            <ul class="nav nav-tabs">

                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" style="cursor:pointer ;">Personal</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" style="cursor:pointer ;">Job</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" style="cursor:pointer ;">Document</a>

                </li>
                <li class="nav-item">

                    <a class="nav-link" style="cursor:pointer ;">Expenses</a>

                </li>

            </ul>

            <br>

            

          

            <br>

            <br>
