
  
  <h2 class="header">Outstanding Receivables</h2>
  <br>
 <br>
 <div class="container-fluid col-md-10">
<button [routerLink]="['/admin/launchpage']" routerLinkActive="router-link-active"  type="button" class="btn btn-primary" >Back</button><br>

<br>
<div class="fixTableHead  shadow">
  <table class="table">
      <thead>
          <tr>
            <th>Client Id</th> 
            <th>Client Name</th> 
            <th>Receivables</th>
            
          </tr>
        </thead>
        <tbody>
          
          <tr *ngFor="let rec of receivables"  >
        
            <td>{{rec.clientid}}</td>
            <td>{{rec.clientname}}</td>
            <td>{{rec.sum |currency}}</td>
           
       
         
          </tbody>
      </table>
</div>
    </div>
  