<div class="container-fluid col-md-10" style="position: relative;top: 67px;left: 13%;">

    <div class="container-fluid">

        <div class="card-body p-4 p-md-4">

            <ul class="nav nav-tabs">

                <li class="nav-item">

                    <a class="nav-link active" aria-current="page" style="cursor:pointer ;">Expenses</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" style="cursor:pointer ;">Invoices</a>

                </li>

                <li class="nav-item">

                    <a class="nav-link" style="cursor:pointer ;">Pending</a>

                </li>

            </ul>
            <br>

            <br>
        </div>
    </div>
</div>
<br>
<div class="card" style="position: relative ;left:1%">
    <div class="card-body">
        <h5 class="card-title">Expenses</h5>
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Submitted Date</th>
                    <th scope="col">Approved Date </th>
                    <th scope="col">Expense Type</th>
                    <th scope="col">Employee Name </th>
                    <th scope="col"> Supervisor Name </th>
                    <th scope="col">Expense Link</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td>Travel</td>
                    <td>sai</td>
                    <td>Brandon Jacob</td>
                    <td></td>
                    <td>Pending</td>

                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td>Travel</td>
                    <td>Rama</td>
                    <td>Brandon Jacob</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td>Travel</td>
                    <td>Arjun</td>
                    <td>Brandon Jacob</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td>Travel</td>
                    <td>susmitha</td>
                    <td>Brandon Jacob</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>2016-05-25</td>
                    <td>2016-05-25</td>
                    <td>Travel</td>
                    <td>santhosh</td>
                    <td>Brandon Jacob</td>
                    <td></td>
                    <td>Pending</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>