<div class="container-fluid col-md-10">

    <div class="container-fluid" style="position: relative;top: 67px;left: 10%;">
        <div class="card-body p-4 p-md-4">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#MyExpenses"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Time Sheet</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#MyInvoices"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Time Off</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#PendingApprovals"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Assignments</button>
                </li>
            </ul>
        </div>
        <div class="tab-content pt-2" id="myTabContent">
            <div class="tab-pane fade show active" id="MyExpenses" role="tabpanel" aria-labelledby="home-tab">
                <div class="container ">
                    <div class="d-flex col-sm ">

                        <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Time Sheet</h4>

                        <br>
                    </div>
                </div>
            </div>





            <div class="tab-pane fade" id="MyInvoices" role="tabpanel" aria-labelledby="profile-tab">
                <div class="container ">
                    <div class="d-flex col-sm">

                        <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Time off</h4>

                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="PendingApprovals" role="tabpanel" aria-labelledby="profile-tab">

                <div class="container ">
                    <div class="d-flex col-sm">

                        <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Assignments</h4>

                    </div>

                </div>
            </div>



        </div>