<div class="wrapper">
   







    <div class="container-fluid col-md-10" style="position: relative;top: 70px;">
        <div class="container-fluid">
            <div class="card-body p-4 p-md-4">
                
                <br>
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-3">Pending Approvals</h3><hr>
                <br>
                <h4>Type</h4>
                <div class="col-md-2 mb-6">

                    <div class="form-outline">
                        
                        <select class="form-select">
                            <option> Expenses</option>
                            <option>Invoices</option>
                            <option>Timesheet</option>
                           
                        </select>

                    </div>

                </div>
                <br>

                <div class="fixTableHead shadow">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>No.</th>
                                <th> Date</th>
                                <th> Employee Name</th>
                                <th>Employee Id</th>
                                <th>Amount</th>
                                <th>Invoice</th>
                                <th>Action</th>


                            </tr>
                        </thead>
                        <tr>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
   
</div>
