<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/personaldata">Personal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/jobtab">Job</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/document">Document</a>
    </li>
</ul>
<br>
<div class="container-fluid col-md-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h6>FOLDERS</h6>
                <br>
                <div>
                    <span id="boot-icon" class="bi bi-folder-fill"
                        style="font-size: 5rem; color: rgb(243, 156, 18);"></span>
                </div>





            </div>
            <div class="col-sm-9">
                <div class="d-flex">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                            aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
                <br>
                <div>
                    <h1>Folders</h1>
                </div>
                <div class="row">
                    <div class="d-flex">
                        <div class="column">
                            <span id="boot-icon" class="bi bi-folder-fill"
                                style="font-size: 5rem; color: rgb(243, 156, 18);"></span>
                        </div>
                        <div class="column">
                            <span id="boot-icon" class="bi bi-folder-fill"
                                style="font-size: 5rem; color: rgb(243, 156, 18);"></span>
                        </div>
                        <div class="column">
                            <span id="boot-icon" class="bi bi-folder-fill"
                                style="font-size: 5rem; color: rgb(243, 156, 18);"></span>
                        </div>
                    </div>
                </div>




            </div>

        </div>
        <!-- <h4 class="mb-4 pb-2 pb-md-0 mb-md-3"><b>EMPLOYEE INVOICES</b></h4>
        <button type="button" style="float: right" class="btn  btn-primary" [routerLink]="['/addNewInvoice']" routerLinkActive="router-link-active">+Add New Invoice </button>
        <br>
        <br>
        <div class="fixTableHead shadow">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Invoice Amount</th>
                        <th>Invoice Status</th>
                        <th>Expense Type</th>
                        <th>Currency</th>
                    </tr>
                </thead>
            </table>
        </div> -->
    </div>
</div>