<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/personaldata">Personal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/jobtab">Job</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/document">Document</a>
    </li>
</ul>
<br>
<div class="container-fluid col-md-10">
    <div class="container-fluid">
        <h4 class="mb-4 pb-2 pb-md-0 mb-md-3"><b>EMPLOYEE INVOICES</b></h4>
        <button type="button" style="float: right" class="btn  btn-primary" [routerLink]="['/addNewInvoice']" routerLinkActive="router-link-active">+Add New Invoice </button>
        <br>
        <br>
        <div class="fixTableHead shadow">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>Invoice Number</th>
                        <th>Invoice Date</th>
                        <th>Invoice Amount</th>
                        <th>Invoice Status</th>
                        <th>Expense Type</th>
                        <th>Currency</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>