<div class="container d-flex justify-content-center mt-4 ">
  <div class="row">
  <div class="col-12">
  <button [routerLink]="['/admin/amdpage']" routerLinkActive="active" class="btn btn-outline-success m-2 active1" type="button">
    Employee Data
  </button>
  <button [routerLink]="['/admin/orgdata']"  routerLinkActive="active" class="btn btn-outline-success m-2 active1" type="button">
    Organization Data
  </button>
  <button [routerLink]="['/admin/pendingrequest']" routerLinkActive="active"  class="btn btn-outline-success m-2 active1" type="button">
    Pending Requests
  </button>
</div>
</div>
</div>

