<div class="wrapper">

    <nav id="sidebar">
        


        <div style="order: 2;  display: flex">
            <i class="bi bi-info" style="font-size: 160%;"></i>
            <span class="ms-2 d-none d-sm-inline m-2" >My Info</span>
        </div>
<br>

        <div style="order: 2;  display: flex">
            <i class="bi bi-clipboard" style="font-size: 130%;"></i>
            <span class="ms-2 d-none d-sm-inline m-2" >Requests</span>
        </div>
        <br>

        <div style="order: 2;  display: flex">

            <i class="bi bi-people" style="font-size: 130%;"></i>
            <span class="ms-2 d-none d-sm-inline m-2" >People</span>

        </div>
        <br>
        <div style="order: 2;  display: flex">
            <i class="bi bi-person-plus" style="font-size: 130%;"></i>
            <span class="ms-2 d-none d-sm-inline m-2" >Hiring</span>
        </div>
        <br>

        <div style="order: 2;  display: flex">
            <i class="bi bi-file-earmark-text" style="font-size: 130%;"></i>

            <span class="ms-2 d-none d-sm-inline m-2" >Reports</span>
        </div>
        <br>

        <div style="order: 2;  display: flex">
            <i class="bi bi-folder2" style="font-size: 130%; "></i>
            <span class="ms-2 d-none d-sm-inline m-2" >Files</span>

        </div>



    </nav>







    <div class="container-fluid col-md-10">
        <div class="container-fluid">
            <div class="card-body p-4 p-md-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Expenses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Pending</a>
                    </li>
                </ul>
                <br>
                <h4 class="mb-4 pb-2 pb-md-0 mb-md-3">Expenses</h4>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"
                    style="position: relative;left: 83%;top: -49px;"> +Add
                    Expense</button>
             
                        <br>
                        <br>

                        <div class="fixTableHead shadow">
                            <table class="table">
                                <thead class="table-light">
                                    <tr>
                                        <th>No.</th>
                                        <th>Expense Date</th>
                                        <th> Expense Type</th>
                                        <th>Amount</th>
                                        <th>Invoice</th>
                                        <th>Status</th>


                                    </tr>
                                </thead>
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
            </div>
    </div>






  