<app-navbarset></app-navbarset>
<br>
<div class="container" style="position: relative;top: 67px;left: 13%;">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">

                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                        type="button" role="tab" aria-controls="home" aria-selected="true">Employee</button>

                </li>

                <li class="nav-item" role="presentation">

                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">HR Manager</button>

                </li>

                <li class="nav-item" role="presentation">

                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact"
                        type="button" role="tab" aria-controls="contact" aria-selected="false">Super Admin</button>

                </li>

            </ul>
            <div class="container">
                <div class="d-flex col-sm ">
                    <hr>
                    <h3 class="mb-4 pb-2 pb-md-0 mb-md-3" style="display: block;">Employee Level Access</h3>
                    <a [routerLink]="['/admin/custom-access']" routerLinkActive="router-link-active"  class=" ml-auto" routerLinkActive="router-link-active" role="button">
                        <span class="add" style="color:blue "> + Add Access Level</span>
                    </a>

                    <a [routerLink]="" class=" ml-auto" routerLinkActive="router-link-active" role="button">
                        <i class="bi bi-gear" style="font-size: 130%; color: blue"></i><span class="set"
                            style="color:blue">Access
                            Level Settings</span>

                    </a>

                </div>
            </div>
            <hr>

            <div clss="col-md-10 d-flex flex-row justify-content-center">
                <ul class="nav nav-tabs  ml-auto order=o">
                    <li class="nav-item ">
                        <a class="nav-link" href="">USA</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="">Australia</a>
                    </li>


                    <a [routerLink]="" class=" ml-auto" routerLinkActive="router-link-active" role="button">

                        <span class="emp" style="color:blue">+ Add Employee</span>
                        <i class="bi bi-three-dots-vertical" style="font-size: 130%; color: black"></i>
                    </a>
                </ul>

                <br>

                <div class="fixTableHead d-flex flex-row justify-content-center">
                    <div class="table-container ">
                        <table class="table auto-index ">

                            <thead>
                                <tr>
                                    <th>No</th>

                                    <th>Name</th>

                                    <th>Last Login</th>
                                </tr>
                            </thead>


                            <tr>
                                <td>1</td>
                                <td>Ramu Srirangam</td>
                                <td>12/11/2021</td>


                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Sriya K</td>
                                <td>12/08/2021</td>

                            <tr>
                                <td>3</td>
                                <td>Karthish M</td>
                                <td>12/08/2021</td>

                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Alex Behman</td>
                                <td>12/06/2021</td>

                            </tr>








                        </table>
                    </div>
                </div>
            </div>
        </div>