*{
    box-sizing: border-box;
  }
  
  .set{
    font-size: 18px;

  }
  .emp{
    margin-left: 20px;
    padding: 15px;
  }

  .add{
    font-size: 18px;
  }

  .fixTableHead {
    overflow-y: auto;
    height: 70vh;
    width: 100%;
  }

.fixTableHead thead th {
             position: sticky;
             top: 0;
            
           }


.table-container{
/* border-collapse: collapse;         */
width: 35%;
background-color: white;
vertical-align: center;
text-align: center;
padding-left: 19px;
height: 20px;




}

.shadow{

   box-shadow: 0 2px 15px rgba(212, 212, 212, 0.7);
}

th:first-of-type {
         
              border-top-left-radius: 10px;
       }

th:last-of-type {
      border-top-right-radius: 10px;
      }


td {
padding: 8px 15px;
padding: 20px;
font-size: 18px;
border-top: 1px solid rgb(236, 235, 235);
left: 20%;


}


th {
background-color: rgba(208, 210, 212, 0.418);
padding: 20px;
font-size: 18px;
}


.data{
text-align: justify;
}

.navbar-nav {
  margin-left: auto;
}
.d-flex{
  position: relative;
  top: 31px;
}
.card{
  position: initial;
  right: 100px;
}