<br>
  <h2 class="header">Total Employee Expenses Data</h2>
  <br>
  <div class="container-fluid col-md-10">

   <div><a [routerLink]="['/admin/launchpage']" routerLinkActive="router-link-active"  class="btn btn-primary" role="button">Back</a>
<!-- <button type="button" class="btn btn-primary">Back</button></div> -->

<br>
<br>
<div class="fixTableHead shadow">
  <table class="table">
      <thead>
          <tr>
            <th>Employee Id</th> 
            <th>First Name</th> 
            <th>Last Name</th>
            <th>Total Employee Expenses</th>
            
          </tr>
        </thead>


        <tbody>
          <tr *ngFor="let emp of EmployeeExpensedata" class="hover" (click)="select(emp)">
            <td>{{emp.employeeid}}</td>
            <td>{{emp.firstname}}</td>
            <td>{{emp.lastname}}</td>
            <td>{{emp.sum |currency}}</td>
          
        </tbody>
      
  </table>
</div>
   </div>
