<br>
<h2 class="header">Total Employee Expenses Data</h2>
<br>
<div class="container-fluid col-md-10">

  <div><a [routerLink]="['/admin/launchpage']" routerLinkActive="router-link-active" class="btn btn-primary"
      role="button">Back</a>
    <!-- <button type="button" class="btn btn-primary">Back</button></div> -->

    <br>
    <br>

    <table class="table auto-index table-hover flex-wrap tabledes">


      <thead>
        <tr>
          <th>Date</th>
          <th>Expense Type</th>
          <th>Amount</th>
          <th>Attachment</th>
          <th>Status</th>
        </tr>
      </thead>


      <tbody>
        <tr *ngFor="let emp of EmployeeExpensedata" class="hover" (click)="select(emp)">
          <td>{{emp.expensedate}}</td>
          <td>{{emp.expensecode}}</td>
          <td>{{emp.amount}}</td>
          <td>{{emp.lastname}}</td>
          <td>{{emp.lastname}}</td>
          <!-- <td>{{emp.sum |currency}}</td> -->

      </tbody>

    </table>
  </div>
</div>