<br>
<h2 class="header">Total Employee Expenses Data</h2>
<br>
<div class="container-fluid col-md-10">

   <div><a [routerLink]="['/admin/launchpage']" routerLinkActive="router-link-active"  class="btn btn-primary" role="button">Back</a>
<!-- <button type="button" class="btn btn-primary">Back</button></div> -->

    <br>
    <a [routerLink]="['/admin/myorga']" routerLinkActive="router-link-active"> <span><i
          class="bi bi-arrow-left"></i></span></a>
    Dashboard<i class="bi bi-chevron-double-right"></i>
    <h2 class="d-flex ">Employee Expenses</h2>
    <br>
    <div class="card">
      <div class="card-body"><br>
        <table class="table auto-index table-hover flex-wrap tabledes">
          <thead>
            <tr>

              <th>Date</th>
              <th>Expense Type</th>
              <th>Amount</th>
              <th>Attachment</th>
              <th>Status</th>

            </tr>
          </thead>


        <tbody>
          <tr *ngFor="let emp of EmployeeExpensedata" class="hover" (click)="select(emp)">
            <td>{{emp.employeeid}}</td>
            <td>{{emp.firstname}}</td>
            <td>{{emp.lastname}}</td>
            <td>{{emp.sum |currency}}</td>
          
        </tbody>
      
  </table>
</div>
   </div>
