<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol> -->
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-12">
                <div class="row">

                    <!-- Sales Card -->
                    <div class="col-xxl-4 col-md-6">
                        <a [routerLink]="['/admin/activeemployeedata']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Active Employee Data</h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.activeEmployees / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-people"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>145</h6>
                                                <span class="text-success small pt-1 fw-bold">12%</span> <span
                                                    class="text-muted small pt-2 ps-1">increase</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xxl-4 col-md-6">
                        <a [routerLink]="['/admin/activeemployeedata']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Gross Profit Before Taxes</h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.activeEmployees / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-bar-chart-line"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>1244</h6>
                                                <span class="text-danger small pt-1 fw-bold">12%</span> <span
                                                    class="text-muted small pt-2 ps-1">decrease</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>

                    <!-- Revenue Card -->
                    <div class="col-xxl-4 col-md-6">
                        <a [routerLink]="['/admin/receivables']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Outstanding Receivables</h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.OReceivables / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-cash"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>$3,264</h6>
                                                <span class="text-success small pt-1 fw-bold">8%</span> <span
                                                    class="text-muted small pt-2 ps-1">increase</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div><!-- End Revenue Card -->


                </div>
            </div>
            <div style="display: flex;
            flex-direction: row-reverse;">
                <div style="display: flex;
                flex-wrap: wrap;">
                    <div class="col-md-2 col-lg-6">
                        <a [routerLink]="['/admin/employeeexpensedata']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Employee Expenses </h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.EmpExpenses / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-cash"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>$3,264</h6>
                                                <span class="text-success small pt-1 fw-bold">8%</span> <span
                                                    class="text-muted small pt-2 ps-1">increase</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 col-lg-6">
                        <a [routerLink]="['/admin/payrollexpenses']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Payroll Expenses</h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.PayrollExp / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-cash"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>$3,264</h6>
                                                <span class="text-success small pt-1 fw-bold">8%</span> <span
                                                    class="text-muted small pt-2 ps-1">increase</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="col-md-2 col-lg-6">
                        <a [routerLink]="['/admin/managementexpenses']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Management Expenses</h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.MgmtExpenses / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-cash"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>$3,264</h6>
                                                <span class="text-success small pt-1 fw-bold">8%</span> <span
                                                    class="text-muted small pt-2 ps-1">increase</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>


                    <div class="col-md-2 col-lg-6">
                        <a [routerLink]="['/admin/operationalcost']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">

                                    <div class="card-body">
                                        <h5 class="card-title">Operational Costs</h5>
                                        <!-- <strong>
                                    <p>{{ dashBoardData.operationalCount / 1000 | currency }} K</p>
                                </strong> -->
                                        <div class="d-flex align-items-center">
                                            <div
                                                class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                                <i class="bi bi-cash"></i>
                                            </div>
                                            <div class="ps-3">
                                                <h6>$3,264</h6>
                                                <span class="text-success small pt-1 fw-bold">8%</span> <span
                                                    class="text-muted small pt-2 ps-1">increase</span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </a>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">

                        <!-- Sales Card -->

                        <a [routerLink]="['/admin/activeemployeedata']" routerLinkActive="router-link-active">
                            <div class="">
                                <div class="card info-card revenue-card">
                                    <div class="card-body">
                                        <h5 class="card-title">Expenses</h5>
                                        <!-- <img src="../assets/chart.png"> -->

                                    </div>
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">

                </div>
            </div>
            <!-- Recent Activity -->







        </div><!-- End Right side columns -->


    </section>

</main><!-- End #main -->